<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>
<table>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Plan</th>
    <th>Stripe ID</th>
    <th>Sub. ID</th>
    <th>Payment Source</th>
    <th>is_active?</th>
    <th>allowed_trial?</th>
    <th>charge_failed?</th>
    <th>login_link</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.plan.stripe_id %></td>
      <td><%= user.stripe_customer_id %></td>
      <td><%= user.subscription_id %></td>
      <td><%= user.payment_source %></td>
      <td><%= user.is_active? %></td>
      <td><%= user.trial_allowed? %></td>
      <td><%= user.charge_failed? %></td>
      <td><%= link_to 'Login', getin_path(user_id: user), method: :post %></td>
    </tr>
  <% end %>
</table>
