<tr>
  <td>
    <%= charge.id %>
  </td>
  <td>
    <%= charge.date.to_s(:short_date) %>
  </td>
  <td>
    <%= charge.amount %>
  </td>
  <td>
    <%= charge.status %>
  </td>
  <td>
    <%= charge.paid? %>
  </td>
  <td>
    <%= charge.refunded? %>
  </td>
  <td>
    <%= link_to 'Try Again', repay_url(user_id: current_user.id, amount: charge.amount, charge_id: charge.id ), {method: :post} unless charge.paid? %>
  </td>
  <td>
    <%= charge.description %>
  </td>
</tr>
