<!DOCTYPE html>
<html>
  <head>
    <title>StripeBilling</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://js.stripe.com/v3/" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Only Pro", only_pro_url %>
      <%= link_to "My Account", my_account_url %>
      <%= link_to "Card", new_card_url %>
      <%= link_to "Plan", plan_url %>
      <%= link_to "Log Out", logout_path %>
    <% else %>
      <%= link_to "Sign Up", signup_path %> or
      <%= link_to "Log In", login_path %>
    <% end %>
    <%= link_to "Users", users_path %>
    <hr>
    <b style="color:red">
    <% if flash.any? %>
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%=key%>">
            <%= value.html_safe %>
          </div>
        <% end %>
      </div>
    <% end %>
    </b>
    <%= yield %>
  </body>
</html>
